.profile {
  margin-left: 22.5vw;
  padding-top: 5vh;
  border: 1px solid red;
  width: 75%;
}

.profile__top {
  display: flex;
  gap: 25%;
}

.profile__topLeft > img {
  object-fit: contain;
  height: 125px;
  border-radius: 100%;
}

.profile__topRight > div {
  display: flex;
  align-items: center;
}

.profileButton {
  border: none;
  color: white;
  height: 35px;
  padding: 0.75rem;
  margin-left: 0.5rem;
  border-radius: 0.75rem;
  background-color: rgb(77, 77, 77);
  font-weight: bold;
}
.profileButton:hover {
  background-color: rgb(61, 61, 61);
  cursor: pointer;
}

.profile__topRightStats > span {
  margin-right: 1rem;
}

.profile__posts > hr {
  margin-bottom: 0;
  border-color: rgb(104, 104, 104);
}

.profile__postsActions,
.profile__postsAction {
  display: flex;
  align-items: center;
}

.profile__postsActions {
  justify-content: center;
}

.profile__postsAction {
  cursor: pointer;
  padding: 0.25rem;
  margin: 0 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.profile__postsAction:hover {
  background-color: rgb(47, 47, 47);
}
.selected {
  background-color: rgb(47, 47, 47);
  border-top: 1px solid white;
}

.profile__postsAction > p {
  margin-top: 10px;
}

.profile__postsGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 0.5rem;
}

.profile__postsGrid > img {
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}
