.sidebar {
  flex: 0.15;
  border-right: 1px solid gray;
  height: 100vh;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: fixed;
  width: 15vw;

  background-color: var(--gray);
}

.sidebar > img {
  object-fit: contain;
  height: 35px;
  margin-top: 25px;
  filter: brightness(100);
}

.sidebar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar > ul > li {
  margin: 0.5rem 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sidebar > ul > li:hover {
  background-color: rgb(42, 42, 42);
}

.sidebar > ul > li > span {
  margin-left: 5px;
}

/* 
For hover effect. Not working right now but will fix later.
.sidebar > ul > li:hover,
.sidebar > ul > li > .MuiSvgIcon-root {
  transform: scale(1.1);
}

.sidebar > ul > li > span {
  margin-left: 10px;
  font-size: 16px;
} */

.sidebar__profile {
  padding: 0;
  margin: 0;
  height: 35px;
}

.sidebar__pfp {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
}
